.bg-nav-color {
  background-color: rgb(60, 152, 228);
}

.title {
  font-size: 2.8rem;
}

.post-info {
  font-size: 0.9rem;
}

@media only screen and (min-width: 769px) {
  .title {
    font-size: 3.5rem;
  }
}